body
{
   background-color: #FDFDFD;
   font-family: sans-serif;
   color: #333;
}

footer
{
   display: block;
   overflow: hidden;
   margin-top: 1em;
}

footer .credit
{
   float: right;
}

.credit span, .credit a:link, .credit a:visited
{
   font-style: italic;
   margin: 0 0.075em;
   color: #777;
}

#pokemon th.preview
{
   /* A hack I don't understand... */
   width: 7rem !important;
}

a:link, a:visited
{
   color: #333;
}

#pokemon .preview a
{
   display: inline-block;
   padding: 0;
   margin: 0;
   width: 7rem;
}

#pokemon .preview img
{
   display: inline-block;
   width: 100%;
}

#pokemon th.name
{
   text-align: left;
}

#tools
{
   float: left;
   display: inline-block;
}
